:root {
  font-family: Georgia, serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  min-height: 100%;
  margin: 0;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./assets/background.png");
  background-position: center;
  background-size: cover;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.centerContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
}

.centerContainer > img {
  margin-bottom: 1rem;
}

.authContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.authContainer > input {
  height: 2rem;
  width: 100%;
  border-radius: 10px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.authContainer > label {
  color: white;
}

.authContainer > *:not(:last-child) {
  margin-bottom: 0.5rem;
}

.authContainer > button {
  height: 2rem;
  width: 50%;
  border: 1px solid;
  border-radius: 10px;
}

.fullWContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.fullWContainer > *:not(:last-child) {
  margin-bottom: 1rem;
}

#add {
  position: absolute;
  height: 3rem;
  bottom: 2rem;
  right: 2rem;
}

.appointmentContainer {
  background-color: rgba(255, 255, 255, 0.6);
  width: 90%;
  padding: 0.5rem;
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.appointmentContainer > img {
  height: 3rem;
  place-self: center;
}

.appointmentContainer > div {
  grid-column: span 5 / span 5;
}

h1 {
  color: white;
}
